ul {
  list-style-type: none;
  display: inline-flex;
  padding: 0.5em;
}

li {
  margin: 0.5em;
}

a {
  color: #f4efb9ba;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #323232e8;
}

h1 {
  font-family: "Poiret One";
  font-size: 3em;
}

h2 {
  font-family: "Poiret One";
  font-size: 2em;
}

h3 {
  font-family: "Poiret One";
  font-size: 1em;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  font-weight: normal;

  text-align: center;

  color: #000000ba;

  background-color: #f4efb9ba;
  border: 0.05rem solid #393939;
}

.btn-secondary:hover {
  cursor: pointer;

  border: 1px solid #c1c1c1;

  background-color: #dbdbdb;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #dbdbdb),
    color-stop(100%, #cccccc)
  );

  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: linear-gradient(top, #dbdbdb, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: radial-gradient(circle, #001705e8, #000000);
  font-family: "Poiret One";
  font-weight: normal;
}

body {
  display: -ms-flexbox;
  display: flex;
  font-family: "Poiret One";
  font-weight: normal;
  color: #f4efb9ba;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(6, 18, 0, 0.5);
}

.fade-in-text {
  animation: fadeIn 6s;
}

.cover-container {
  max-width: 42em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.rsvp {
  padding: 0.75rem;
  display: block;
}

/* Contact form */

form label {
  font-size: 1em;

  font-weight: normal;

  display: block;

  padding: 10px 0;
}

form input#name,
form input#email {
  width: 400px;

  background-color: #fafafaa9;

  list-style-type: none;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

  border: 1px solid #cccccc;

  padding: 5px;

  font-size: 1.1em;
}

form textarea#message {
  width: 400px;

  height: 100px;

  background-color: #fafafaa9;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

  border: 1px solid #cccccc;

  margin-bottom: 10px;

  padding: 5px;

  font-size: 1em;
}

form input#submit {
  display: inline-flex;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

  border: 1px solid #f4efb9ba;

  margin: 5px;

  padding: 10px;

  font-weight: normal;

  text-align: center;

  color: #000000ba;

  background-color: #f4efb9ba;
}

form input#submit:hover {
  cursor: pointer;

  border: 1px solid #c1c1c1;

  background-color: #dbdbdb;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #dbdbdb),
    color-stop(100%, #cccccc)
  );

  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);

  background-image: linear-gradient(top, #dbdbdb, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */

.flash {
  background-color: #d0d0d0;

  padding: 10px;

  width: 400px;
}
