{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center deco-gallery">
  <div class="col-md-12">
    <div class="deco-gallery">
      <div class="row">
        {% for i in random_photos %}
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img
            src="{{ url_for('static', filename='images/image' ~ i ~ '.jpg') }}"
            class="img-fluid gallery-photo"
            alt="Photo {{ i }}"
          />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<a
  class="btn btnpad buttonhome bottompad"
  href="{{ url_for('index')}}"
  role="button"
  >Home</a
>

<a
  class="btn buttonhomeright bottompad"
  href="{{ url_for('gallery')}}"
  role="button"
  >See More</a
>

{% endblock %}
