{% extends 'base.html' %} {% block content %}
<h1>{% block title %} {% endblock %}</h1>
{% block body %}
<div class="fade-in-text">
  <h1 class="cover-heading">06/05/24</h1>
  <h3>No +1<br>No Kids<br>
    <a href="https://google.com/maps" target="_blank">Nearby Accommodations</a>
  </br><br><a href="https://tinyurl.com/kimptonpalladian" target="_blank">The Kimpton Palladian is located in downtown Seattle.</br>Click here to see it on a map.</a>
<br>
<br>
  <p class="lead">
    <a href="{{ url_for('index')}}" class="btn btn-sm btn-secondary">home</a>
  </p>
</div>
{% endblock %} {% endblock %}
