{% extends 'base.html' %} {% block content %}
<h1>{% block title %} {% endblock %}</h1>
{% block body %}
<div class="fade-in-text">
  <h2 class="cover-heading">Please, let us know if you're coming</h2>
  {% if success %}
  {{redirect(url_for("thanks"))}}
{% else %}
  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% for message in form.subject.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% for message in form.message.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <form action="{{ url_for('rsvp') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.subject.label }}
    {{ form.subject }}
    {{ form.message.label }}
    {{ form.message }}
    {{ form.submit }}

  </form>

{% endif %}

  </form>
  <br /><br />
  <p class="lead">
    <a href="{{ url_for('index')}}" class="btn btn-md btn-secondary">home</a>
  </p>
</div>
{% endblock %} {% endblock %}
