{% extends 'base.html' %} {% block content %}
<h1>{% block title %} {% endblock %}</h1>
{% block body %}
<div class="fade-in-text">
  <div class="toptext">
  <h2 class="cover-heading">Please let us know if you are coming by February, 2024</h2>
</div>

  {% if success %}
  {{redirect(url_for("thanks"))}}
{% else %}
  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('rsvp') }}" method=post>
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.email.label }}
    {{ form.email }}
    <div class="rsvp">{{ form.rsvp.label }}
    {{ form.rsvp }}
    
    <div>
    {{ form.submit(class_="btn btn-md btn-secondary") }}
    <a href="{{ url_for('index')}}" class="btn btn-md btn-secondary">Home</a>
  </div></div>


  </form>

{% endif %}

  </form>
</div>

{% endblock %} {% endblock %}
